* {
	font-family: 'Noticia Text', serif;
	font-size: 14px;
}

body {
	text-align: center;
}

#main {
	width: 100%;
	height: 50%;
	text-align: center;
	background-color: #F0F8FF;
}
#main svg {
	margin: auto;
}


span {
	text-align: center;
	font-size: 1em;
	font-family: 'Fira Code', monospace;

}
/*** CSS GRID ***/
.grid-container-title{
	display: grid;
	grid-template-columns: auto;
}

.header {

	padding-bottom: 1vw;
}

.grid-container-custom {
	display: grid;
	grid-template-columns: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
	margin-bottom: 1vw;
	margin-top: 2vw;
}

.grid-container-item {
	padding-bottom: .8vw;
}

/**** BUTTON STYLE ****/

.button {
	  background-color: #FEDA32;
	  border: none;
	  color: #000000;
	  padding: 0.3vw 3vw;
	  text-decoration: none;
		border-radius: 10px;
	  display: inline-block;
		margin-bottom: 0.2vw;
		padding-left: 0.1vw;
	  font-size: 1em;
	  cursor: pointer;
}





/**** SLIDER STYLE ****/
.slider {
	cursor: pointer;
  -webkit-appearance: none;
	height: 0.5vw;
  border-radius: 4px;
  background: #dedede;
  outline: none;
}


.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #FEDA32;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}
