* {
	font-family: 'Noticia Text', serif;
	font-size: 14px;
}

/* #face.is-colorized  {
	fill:'#fc92d0';
} */

.button {
	width: 100px;
  height: 50px;
	background-color: lighten green;
	border-radius: 30px;
}
